.container {
    max-width: 6000px;
    margin: 0 auto;
    padding: 2px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 5px;
    padding-bottom: 5px;
    background-color: aqua;
    padding: 20px;
    display: inline-block;
    margin-right: 10px;
  }
  
  input {
    width: 120px;
    height: 30px;
  }

  input[name=hours] {
    width: 100px;
    padding:10px;
    position: relative;
    left:5px;
  }