<app-header></app-header>
<div>
    <div class="form-style-10">
        
        <h1>Create New Employee</h1>

        <form>
            <div class="section"><span>1</span>Employee Personal Information</div>
            <div class="inner-wrap">
                <label>Employee Id <input type="text" name="field3" /></label>
                <label>First Name <input type="text" name="field1" /></label>
                <label>Last Name<input type="text" name="field2" /></label>
                <label>Clients<input type="text" name="field4" /></label>
                <label>Vendor<textarea name="field5"></textarea></label>
            </div>
        
            <div class="section"><span>2</span>Timesheet</div>
            <div class="inner-wrap">
                <label>Start-Date <input type="date"    pattern="(?:19|20)[0-9]{2}-(?:(?:0[1-9]|1[0-2])-(?:0[1-9]|1[0-9]|2[0-9])|(?:(?!02)(?:0[1-9]|1[0-2])-(?:30))|(?:(?:0[13578]|1[02])-31))"  
                    name="dateq" id="dateq" class="form-control" Required>
                </label>
                <label>End-Date <input type="date"    pattern="(?:19|20)[0-9]{2}-(?:(?:0[1-9]|1[0-2])-(?:0[1-9]|1[0-9]|2[0-9])|(?:(?!02)(?:0[1-9]|1[0-2])-(?:30))|(?:(?:0[13578]|1[02])-31))"  
                    name="dateq" id="dateq" class="form-control" Required>
                </label>
            </div>

            <div class="button-section">
                <input type="submit" name="Sign Up" />
                <span class="privacy-policy">
                <input type="checkbox" name="field7"> You agree to our Terms and Policy. 
                </span>
            </div>
        </form>

    </div>
    
</div>